@import "../global";

.project.personal-website {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#1c1442, #000000);

    .design {
        position: absolute;
        width: 30%;
        min-width: 350px;
        height: auto;
        top: 40%;
        right: 10%;
        transform: translate(0, -50%);
        user-select: none;
        pointer-events: none;

        svg path {
            transition: 0.5s ease-out;

            &#pixel_1, &#pixel_1_shadow {
                transform-origin: 115px 55px;
            }

            &#pixel_2, &#pixel_2_shadow {
                transform-origin: 55px 230px;
            }

            &#pixel_3, &#pixel_3_shadow {
                transform-origin: 375px 85px;
            }
        }

        &.view-button-hovered {
            #triangle_top, #triangle_middle, #triangle_bottom {
                transform: translateY(25px);
            }

            #pixel_1 {
                transform: translate(-10px, 20px) rotate(-90deg);
                animation: pixel 1s infinite;

                @keyframes pixel {
                    0%, 30% {
                        fill: #3e1977;
                    }

                    15% {
                        fill: #7a25ca;
                    }
                }
            }

            #pixel_1_shadow {
                transform: translate(-10px, 10px) rotate(-90deg);
            }

            #pixel_2 {
                transform: translate(-5px, 15px) rotate(90deg);
                animation: pixel2 1s 0.7s infinite;

                @keyframes pixel2 {
                    0%, 20% {
                        fill: #3e1977;
                    }

                    10% {
                        fill: #7a25ca;
                    }
                }
            }

            #pixel_2_shadow {
                transform: translate(-5px, 5px) rotate(90deg);
            }

            #pixel_3 {
                transform: translate(10px, -15px) rotate(-90deg);
                animation: pixel3 1s 0.4s infinite;

                @keyframes pixel3 {
                    0%, 40% {
                        fill: #3e1977;
                    }

                    20% {
                        fill: #7a25ca;
                    }
                }
            }

            #pixel_3_shadow {
                transform: translate(10px, -5px) rotate(-90deg);
            }
        }
    }

    .name {
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin-top: 50vh;
        margin-left: 10%;
        transform: translate(0, -50%);

        @media screen and (max-width: 1000px) {
            margin-left: 50%;
            transform: translate(-50%, -50%);
        }

        .text {
            color: white;
            font-family: "Gilmer Heavy";
            font-size: 15vh;
            margin: 0px;

            @media screen and (max-width: 1000px) {
                font-size: 15vw;
            }
        }

        .view-button-link {
            text-decoration: none;
            margin-left: auto;
            margin-right: 65px;
            transition: 0.5s ease-out;

            @media screen and (max-width: 1000px) {
                margin-left: 0px;
                margin-right: auto;
            }

            &:hover {
                margin-right: 35px;

                @media screen and (max-width: 1000px) {
                    margin-left: 15px;
                    margin-right: auto;
                }
            }

            .view-button {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;

                .view-button-text {
                    display: inline-block;
                    color: #7a25ca;
                    font-family: "Nimbus Sans";
                    font-size: 35px;
                    white-space: nowrap;
                    margin: 0px;
                }

                .arrow {
                    width: 100px;
                    height: auto;
                    margin-left: 35px;

                    svg rect {
                        fill: #7a25ca;
                    }
                }
            }
        }
    }
}