//Fonts
@font-face {
    font-family: "Liberation";
    src: url(/static/liberation.ttf);
}

@font-face {
    font-family: "Hermit";
    src: url(/static/hermit.otf);
}

@font-face {
    font-family: "Hermit Light";
    src: url(/static/hermit-light.otf);
}

//HTML and body
html {
    min-height: calc(100vh - 108px);
    background-color: #1f1f1f;
    overflow-x: hidden;
    padding-bottom: 100px;
    border-bottom: 8px #a2ff94 solid;
}

body {
    margin: 0px;
}

//Scrollbar
::-webkit-scrollbar {
    width: 5px;
    background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb {
    background-color: #a2ff94;
}

//Content padding
#content {
    padding: 0px 125px;
}

@media screen and (max-width: 900px) {
    #content {
        padding: 0px 50px;
    }
}