@import "../../global";

#work_geola .top-margin {
    display: inline-block;
    margin-bottom: 165px;
}

#work_geola .title {
    display: inline-block;
    margin-top: 85px;
    margin-bottom: 20px;
}

#work_geola .title .text {
    color: white;
    font-family: "Liberation";
    font-size: 50px;
    margin: auto;
}

#work_geola .text span.a {
    border-bottom: 5px #10fbcd solid;
}

#work_geola .text span.b {
    background-color: #10fbcd1c;
}

#work_geola .text span.c {
    color: #10fbcd;
}

#work_geola .info {
    display: inline-block;
    color: white;
    font-family: "Hermit Light";
    font-size: 20px;
    font-weight: normal;
}

#work_geola .info span {
    color: #10fbcd;
}

#work_geola .info a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#00000000 65%, #10fbcd7e 65%);
}

#work_geola .project-link-button {
    display: inline-block;
    color: white;
    font-family: "Liberation";
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(#00000000 53%, #10fbcd7e 53%);
    border-bottom: 3px #10fbcda8 solid;
    border-radius: 100px;
    padding: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}