@import "../../global";

#work_geola {
    .title {
        display: inline-block;
        margin-top: 135px;
        margin-bottom: 20px;

        .text {
            color: white;
            font-family: "Liberation";
            font-size: 50px;
            margin: auto;

            span {
                &.a {
                    border-bottom: 5px #a2ff94 solid;
                }

                &.b {
                    background-color: #a2ff941c;
                }

                &.c {
                    color: #a2ff94;
                }
            }
        }
    }

    .info {
        display: inline-block;
        color: white;
        font-family: "Hermit Light";
        font-size: 20px;
        font-weight: normal;

        span {
            color: #a2ff94;
        }

        a {
            color: white;
            text-decoration: none;
            background-image: linear-gradient(#00000000 65%, #a2ff947e 65%);
        }
    }

    .project-link-button {
        display: inline-block;
        color: white;
        font-family: "Liberation";
        font-size: 25px;
        text-decoration: none;
        background-image: linear-gradient(#00000000 53%, #10fbcd7e 53%);
        border-bottom: 3px #10fbcda8 solid;
        border-radius: 100px;
        padding: 5px;
        margin-top: 35px;
        margin-bottom: 35px;
        @include center;
    }
}