@import "../../global";

#work {
    .title {
        padding-top: 135px;
        margin-bottom: 20px;

        .text {
            color: white;
            font-family: "Liberation";
            font-size: 50px;
            margin: auto;

            span {
                &.a {
                    border-bottom: 5px #a2ff94 solid;
                }

                &.b {
                    background-color: #a2ff941c;
                }

                &.c {
                    color: #a2ff94;
                }
            }
        }
    }

    .name {
        display: inline-block;
        position: relative;
        color: white;
        font-family: "Liberation";
        font-size: 35px;
        text-decoration: none;
        font-weight: bold;
        margin: auto;
        margin-top: 50px;

        &.geola {
            color: #10fbcd;

            &::before {
                background-color: #10fbcd;
            }
        }

        &.apixel-visuals {
            color: #a2ff94;

            &::before {
                background-color: #a2ff94;
            }
        }

        &.kogit {
            color: #ffdc48;

            &::before {
                background-color: #ffdc48;
            }
        }

        &::before {
            display: inline-block;
            position: absolute;
            width: 0px;
            height: 4px;
            margin-top: 45px;
            content: "";
            transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }

    .info {
        color: white;
        font-family: "Hermit Light";
        font-size: 20px;
        font-weight: normal;
    }
}