@import "../../global";

#work_kogit .top-margin {
    display: inline-block;
    margin-bottom: 165px;
}

#work_kogit .title {
    display: inline-block;
    margin-top: 85px;
    margin-bottom: 20px;
}

#work_kogit .title .text {
    color: white;
    font-family: "Liberation";
    font-size: 50px;
    margin: auto;
}

#work_kogit .text span.a {
    border-bottom: 5px #ffdc48 solid;
}

#work_kogit .text span.b {
    background-color: #ffdc481c;
}

#work_kogit .text span.c {
    color: #ffdc48;
}

#work_kogit .info {
    display: inline-block;
    color: white;
    font-family: "Hermit Light";
    font-size: 20px;
    font-weight: normal;
}

#work_kogit .info span {
    color: #ffdc48;
}

#work_kogit .info a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#00000000 65%, #ffdc487e 65%);
}

#work_kogit .project-link-button {
    display: inline-block;
    color: white;
    font-family: "Liberation";
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(#00000000 53%, #ffdc487e 53%);
    border-bottom: 3px #ffdc48a8 solid;
    border-radius: 100px;
    padding: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    @include center;
}