// Fonts
@font-face {
    font-family: "Moderat";
    src: url(/fonts/moderat-regular.ttf);
}

@font-face {
    font-family: "Novecento";
    src: url(/fonts/novecento.woff);
}

// HTML and body
html {
    overflow-x: hidden;
}

body {
    margin: 0px;
}

// Variables
:root {

    // Colors
    --primary-background-color: #93c9f8;
    --accent-background-color: #ccecff;
    --primary-color: #66b4f8;
    --accent-color: #97d9ff;

    // Fonts
    --title-font: "Novecento";
    --body-font: "Moderat";
}

//Scrollbar
::-webkit-scrollbar {
    width: 5px;
    background-color: var(--accent-background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}