@import "../global";

@import "./index-projects/geola";

@import "./index-projects/personal-website";

#index {
    .cover-wrapper {
        position: fixed;
        width: 300vw;
        height: 300vh;
        top: -100vh;
        left: -100vw;
        background-color: black;
        transform: rotate(-45deg);
        z-index: 101;

        &.close {
            animation: coverClose 1s forwards;
        }

        @keyframes coverClose {
            0% {
                top: -100vh;
                left: -100vw;
            }

            100% {
                top: 200vh;
                left: -300vw;
            }
        }

        .cover {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 100vh;
            left: 100vw;
            transform: rotate(45deg);

            .logo {
                width: 200px;
                height: auto;
                border-radius: 50%;
                margin-top: 50vh;
                margin-left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .intro {
        width: 100%;
        height: 100vh;
        overflow: auto;

        .background-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            overflow: hidden;
            z-index: -10;

            .background {
                min-width: 100%;
                min-height: 100%;
            }
        }

        .title {
            width: 80%;
            color: white;
            font-family: "Gilmer Heavy";
            font-size: 85px;
            margin-top: 15%;
            @include center;

            @media screen and (max-width: 750px) {
                font-size: 10vw;
            }
        }

        .description {
            width: 80%;
            color: white;
            font-family: "Nimbus Sans";
            font-size: 35px;
            @include center;

            @media screen and (max-width: 750px) {
                font-size: 25px;
            }
        }

        .see-my-work {
            position: absolute;
            display: inline-block;
            bottom: 0px;
            color: white;
            font-family: "Nimbus Sans";
            font-size: 25px;
            cursor: pointer;
            @include center;
        }
    }
}